@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
*{
    text-decoration: none;
    list-style: none;
    /* max-width: 1440px; */
}
.displayflex{
    display: flex;
}
.text_gray{
    color:#424242 ;
}
.text_lgray{
    color: #727272;
}
.primary_button{
 background-color: #FF900E;  
 color:white;
 padding: 20px 26px; 
 font-size: 1rem;
 font-weight: 600;
 border-radius: 8px;
 border: 0;
 }
 main> section{
    margin-top: 50px;
 }
 .section_heading{
    font-weight: 700;
    font-size: 2.8rem;
}
/* nav bar */
.bg_color{
    background-color: rgba(255, 144, 14,0.1) ;
    margin-bottom: 4rem;

}

.brand_name{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.nav_links{
   font-weight: 500;
}
.navbar, .bannar{
    max-width: 1440px;
    margin: 0 auto;

 }  
.nav_item{
margin-right: 30px;
text-align: center;
    
}
/* bannar */

.bannar_inside{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;


}
.bannar_img{
    width: 100%;
}
.bannar_title{
    font-weight: 700;
    font-size: 4rem;
}
/* main */
.container1{
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
 

}
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-right: 50px;
    width: 100%;
}
.teams_item{
     width: 100%;
}
.container1text{
    max-width: 530px;;
}
#quick_list{
    font-weight: 500;
}
.feature{
    color: #FF900E;
}
/* con 2 */
#feature{
    border-left:10px solid #FF900E;
    padding-left: 20px;
}
.container2{
    display: flex;
    max-width: 1440px;
    margin: 100px auto;
    gap: 140px;
    
}
.pera{
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
    border: 5px solid white;
    border-radius: 25px;
    
}
.pera, .peradox{
   
    font-size: 1.25rem;
    font-size: 600;
    margin-bottom:30px ;
    padding: 10px;

}
.container2img{
    width: 100%;
    margin-left: 30px;
}
.container2img img{
    width: 100%;
}
.sp-button{
 padding: 45px 42px;
 width: 300px;
 font-size: 1.5rem;
 font-weight: 500;
 margin-left: -100px;
 margin-top: -100px;
}
.tenyear{
    font-size: 3rem;
    font-weight: 700;
 
}
.conatiner3{

    max-width: 1440px;
    margin: 0 auto;
}
.fact_items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    padding: 20px;
    max-width: 0 auto;
}
.main-fact{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fact{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
  
    width: 240px;
    height: 240px;  
}
.fact_text{
    max-width: 550px;
}
.fact_num{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px;
}
.fact_name{
    margin-top:10px ;
    font-size: 1rem;
    font-weight: 500;
}
.conatiner4{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsor-info{
 text-align: center;
 max-width: 540px;
 margin: 0 auto;
}

 .card-container{
    display: flex;
    justify-content: center;
    align-items: center;


}

.sponsor-img{
 /* display: flex;
 justify-content: space-around; */
 display: grid;
 grid-template-columns: repeat(5,1fr);
 gap: 100px;
 padding: 30px;
}
.sp-img{
    filter: grayscale(100%);

}

.ft{
    background-color: rgba(255, 144, 14,0.1);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 30px;
    margin: 50px;
}
@media screen and (max-width: 572px ) {
  .nav_links, .navbar{
    flex-direction: column;
  }
  .teams{
    grid-template-columns: repeat(1, 1fr);
  }
  .container2{
    flex-direction: column;
  }
  .container2img{
    margin-top: 10px;

  }
  .sp-button{
    margin-left: -30px;
  }
 
  .fact_items{
      grid-template-columns: repeat(1,1fr);
        
}
.fact{
    justify-items: center;
}
.sponsor-img{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
}


@media screen and (min-width: 572px ) and (max-width: 992px){
    .container1{
        flex-direction: column;
    } 
    .container1text{
        margin-top: 20px;
        text-align: center;
    } 
    /* .container2{
        flex-direction: column;
      }  */
      .container2img{
        margin-top: 10px;
      }

    .fact_items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        

     }
     .fact{
        justify-items: center;
        gap: 24px;
     }
     .sponsor-img{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
}